// Share Modal
// *------------------------------------------------*
button.invite, button.new-topic {
  display: none;
}

// Header
// *------------------------------------------------*

// hide the icon on the login button
button.login-button > .d-icon-user {
  display: none;
}

// button.sign-up-button {
//   display: none;
// }
//
// button.login-button {
//   display: none;
// }

// About
// *------------------------------------------------*
section.about.description {
  margin-bottom: 0;
}

section.about.stats {
  display: none;
}

// Nav
// *------------------------------------------------*

.sidebar-section[data-section-name=messages], .sidebar-section[data-section-name=tags] {
  display: none;
}

.sidebar-section-link-wrapper[data-list-item-name=all-categories] {
  display: none;
}

// Category
.category-box .category-logo.aspect-image img {
  height: var(--max-height) !important;
  width: var(--max-height) !important;
}

.topic-list-bottom > .footer-message {
  display: none !important;
}
